body,
html {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
}

.container {
    text-align: center;
    width: 1200px;
    max-width: 1200px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.wrapper {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.form-area {
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px 0;
    height: 100%;
    margin: auto 0;
}


input[type="text"] {
    width: 90%;
    padding: 8px;
    border-radius: 4px;
    margin-bottom: 10px;
    border: 1px solid #ddd;

}

button {
    width: 95%;
    border: none;
    border-radius: 4px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    padding: 8px;

}

button:hover {
    background-color: #45a049;
}

.tasks-area {
    width: 50%;
}

#taskList li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    gap: 15px;
    background: #f9f9f9;
    margin: 5px 0;
    border-radius: 4px;
    border: 1px solid #ddd;
    width: 100%;
}


button.delete {
    background-color: #e74c3c;
    width: 80px;
}

button.delete:hover {
    background-color: #c0392b;
}

button.edit {
    margin-left: auto;
    width: 80px;
}